<!doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Page | View All Omzet</title>
        <!-- Load Jquery, Bootstrap, dan DataTables dari CDN -->
        <!-- buka url ini: http://pastebin.com/index/WeaY5Fra -->
        <!-- load Jquery dari CDN -->
        <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        
        <!-- Load Datatables dan Bootstrap dari CDN -->
        <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
    </head>
    <body>
    <?php //echo br(3); ?>
    <?php echo form_open($url);?>
    <?php //echo form_label($page_title);?>
    <?php 
        //echo form_label(" Year : ");
        //$options = array(date('Y')-1=>date('Y')-1,date('Y')=>date('Y'));
        $interval=date('Y')-2010;
        $year=array();
        $year['2010']='2010';
        for($i=1;$i<=$interval;$i++)
        {
            $year[''.$i+2010]=''.$i+2010;
        }
        //echo br(5);
        //echo form_dropdown('tahun', $year,date('Y'),"class='form-control'");
    ?>
    <?php
        //echo form_label(" SUPPLIER : ");
        $supplier=array();
        foreach($query->result() as $value)
        {
            $supplier[$value->supp]= $value->namasupp;
        }
        //echo form_dropdown('supp', $options, 'All',"class='form-control'");
    ?>
    <?php
        $wilayah = array(
                  '1'  => 'Seluruh Wilayah',
                  '2'  => 'DP Barat',
                  '3'  => 'DP Timur',                  
                );
    ?>
    <div class="row">        
        <div class="col-xs-16">
            
            <h3>Data Omzet</h3><hr />
        </div>
        <div class="col-xs-2">
            Silahkan pilih tahun :
        </div>
        <div class="col-xs-5">
            <?php echo form_dropdown('tahun', $year,date('Y'),"class='form-control'");?>
        </div>
        <div class="col-xs-11">&nbsp;</div>

        <div class="col-xs-2">
            Silahkan pilih supplier :
        </div>

        <div class="col-xs-5">
            <?php echo form_dropdown('supp', $supplier,date('Y'),"class='form-control'");?>
        </div>
        <div class="col-xs-11">&nbsp;</div>
        <div class="col-xs-2">
            <?php echo form_submit('submit','Proses','class="btn btn-primary"');?>
            <?php echo form_close();?>
        </div>
        <div class="col-xs-2">
            <a href="<?php echo base_url()."omzet/export_omzet/". $tahun."/"; ?>  " class="btn btn-warning" role="button"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> export hasil proses ke dalam excel</a>
        </div>
        
    </div>
       
    <hr />
    <?php 

        if ($supp == '000') {
            $supplier = '4 besar (deltomed, ultra sakti, marguna, jaya agung';
        } elseif ($supp == '001') {
            $supplier = 'deltomed';
        } elseif ($supp == '002') {
            $supplier = 'marguna';
        } elseif ($supp == '003') {
            $supplier = 'jamu jago';
        } elseif ($supp == '004') {
            $supplier = 'jaya agung';
        } elseif ($supp == '005') {
            $supplier = 'ultra sakti';
        } elseif ($supp == '009') {
            $supplier = 'Unilever';
        } elseif ($supp == 'XXX') {
            $supplier = 'all supplier';
        }
         else {
           $supplier = 'belum dipilih';
        }
        
        echo "<pre>";
        echo "Anda memilih ";
        echo "tahun : ".$tahun." | ";
        echo "supplier : ".$supplier."<br>";
        echo "</pre>";
        $no = 1;
    ?>
    <div class="row">        
        <div class="col-xs-19">
            <table id="myTable" class="table table-striped table-bordered table-hover">     
                    <thead>
                        <tr>                
                            <th width="1"><font size="2px">No</font></th>
                            <th width="1"><font size="2px">NAMA DP</th>
                            <th><font size="2px">JAN</th>
                            <th><font size="2px">FEB</th>
                            <th><font size="2px">MAR</th>
                            <th><font size="2px">APR</th>
                            <th><font size="2px">MEI</th>
                            <th><font size="2px">JUN</th>
                            <th><font size="2px">JUL</th>
                            <th><font size="2px">AGS</th>
                            <th><font size="2px">SEP</th>
                            <th><font size="2px">OKT</th>
                            <th><font size="2px">NOV</th>
                            <th><font size="2px">DES</th>
                            <th><font size="2px">Total</th>
                            <th><font size="2px">Rata-Rata</th>
                            <th><font size="2px">Last Upload</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <?php foreach($omzets as $omzet) : ?>
                        <tr>        
                            <td><center><font size="2px"><?php echo $no++; ?></font></center></td>               
                            <td><font size="2px"><?php echo $omzet->namacomp; echo "(".$omzet->kode_comp.")"; ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b1); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b2); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b3); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b4); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b5); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b6); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b7); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b8); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b9); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b10); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b11); ?></td>
                            <td><font size="2px"><?php echo number_format($omzet->b12); ?></td>
                            <td><font size="2px"><?php echo $omzet->total; ?></td>
                            <td><font size="2px"><?php echo $omzet->rata; ?></td>
                            <td><font size="2px"><?php echo $omzet->lastupload; ?></td>
                        </tr>
                    <?php endforeach; ?>
                    
                    </tbody>
                    </table>
        </div>
    </div>
    

     <script>
        $(document).ready(function(){
            $('#myTable').DataTable( {
                "ordering": false,
                "lengthMenu": [[10, 25, 50, 100, 150, -1], [10, 25, 50, 100, 150, "All"]]
            });
        });
    </script>
    </body>
</html>